html{
	font-family:arial;
	font-size:400%;
}
h1{
	font-size:0.7rem;
	text-align:center;
}
h2{
	font-size:0.6rem;
	text-align:center;
}
h3{
	font-size:0.5rem;
	text-align:center;
}
h4{
	font-size:0.4rem;
	text-align:center;
}
body{
	background-image: url("data:image/svg+xml,%3Csvg class='background_svg' width='32px' height='32px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath class='background_path' fill='%23EEE' d='m0 0 0 4 4 0 0 4 4 0 0-4-4 0 0-4z'/%3E%3C/svg%3E");
}
*{
	 box-shadow:inset 0px 0px 0px 2px rgba(255,0,0,1);
}
header{
	display:flex;
	justify-content:space-between;
	padding:16px;
    /*background-image:url("../media/ytrgefscdvfb.png");*/
    background-size:auto 160px;
	background-repeat:no-repeat;
}
main{
	display:block;
	background-color:#FFF;
	padding: 6px 25px 10px 25px
}
aside nav{
	padding-left:10%;
	padding-right:10%;
	padding-top:8px;
	padding-bottom:8px;
	display:flex;
	justify-content:space-around;
	background-color:#FFF;
	font-size:0.6rem;
	/*text-shadow:4px 8px 6px rgba(0,0,0,0.5);*/
}
aside nav a{
	margin-left:2%;
	margin-right:2%;
}
footer{
	display:block;
	background-color:#FFF;
	font-size:0.4rem;
	padding:5px;
	text-align:center;
}
button:hover{
	cursor:pointer;
}
.logo{
	height:120px;
	width:120px;
	filter: drop-shadow(4px 12px 4px rgb(0 0 0 / 0.5));
}
.sIcon{
	height:29px;
	width:29px;
	fill:#EEE;
	transition-duration: 0.4s;
}
.sIcon:hover{
	height:29px;
	width:29px;
	fill:black;
}
.left_options_container{
	display:flex;
	flex-direction:column;
	padding:6px;
}
.right_options_container{
	display:flex;
	flex-direction:column;
	padding:6px;
	border-radius:6px;
	background-color:#000;
	box-shadow:4px 12px 12px 5px rgba(0,0,0,0.4);
}
main p{
	font-size:0.8rem;
	padding-left:24px;
	padding-right:24px;
	text-indent: 1.5rem;
}
a{
	transition-duration: 0.4s;
}
a:hover{
	cursor:pointer;
}
.nav.subtitle{
	display: inline-block;
	border-radius: 8px;
	padding: 15px 2% 15px 2%;
}
.nav.subtitle:hover{
	padding: 15px 2% 15px 2%;
	border-radius: 8px;
	background-color: #cbd1cc;
	color: black;
}
.nav.bar{
	border-radius: 8px;
}
.nav.bar:hover{
	border-radius: 8px;
	background-color: #cbd1cc;
	color: black;
}
.login.screen{
	display:flex;
	width:70%;
	height:80%;
	top:50%;
	left:50%;
	background-color:white;
	padding:6px;
	border-radius:8px;
	transform:translate(-50%,-50%);
	position:fixed;
	content:center;
	flex-direction:column;
	border-style:solid;
	border-color: #a3a3a3;
	
}
.login.background{
	display:flex;
	flex-direction:column;
	position:fixed;
	height: 100vh;
	width: 100vw;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	justify-content:center;
	align-content:center;
	background-color:rgba(0,0,0,0.3);
	z-index:99;
}
.login.close{
	display:flex;
	position:relative;
	top:0px;
	right:0px;
}
.login.close:hover{
	display:flex;
	position:relative;
	top:0px;
	right:0px;
}
#loginX{
	display:flex;
	position:relative;
	top:0px;
	right:0px;
	padding:10px;
	border-radius:50%;
	transition:background-color 0.4s;
}
#loginX:hover{
	display:flex;
	position:relative;
	top:0px;
	right:0px;
	padding:10px;
	cursor:pointer;
	border-radius:50%;
	background-color:#e8e7e6;
}
#logininfo{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-content:center;
	width:60%;
}
#logininfo div{
	display:flex;
	flex-direction:column;
}
.input{
	width="400px";
}
.login.body{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-content:center;
	height:100%;
}
#loginwrap{
	height:100%;
	flex-direction:column;
	justify-content:center;
	align-content:center;
}
#space-between{
	height:50%;
	display:flex;
	justify-content:space-around;
}
.input.login{
	border:3px solid black;
	font-size:0.6rem;
	border-radius:8px;
	width:100%;
	height:20%;
}
.profile.page{
	padding-left:50px;
	padding-right:50px;
	display:flex;
	flex-direction:row;
}
.profile.picture{
	
}
.profile.mask {
	-webkit-mask-image: radial-gradient(circle, black 70%, rgba(0, 0, 0, 0) 70%);
	mask-image: radial-gradient(circle, black 70%, rgba(0, 0, 0, 0) 70%);
	
}
.user.description {
	width:100%;
	padding-left:50px;
}
.profile.description {
	display:flex;
	flex-direction:row;
	padding-left:50px;
	padding-right:50px;
}
.edit.profile{
	width:100%;
	height:40px;
	font-size:0.3rem;
}
.profile.left{
	display:flex;
	flex-direction:column;
	width:30%;
}
.profile.right{
	display:flex;
	flex-direction:column;
	width:70%;
}
.search.page{
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.search.box{
	background-color:white;
	border-radius:16px;
	width:50%;
	font-size:0.8rem;
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.search.input{
	font-size:0.8rem;
}
#_login_{
	display:none;
	visibility:hidden;
}
#_profile_{
	display:none;
	visibility:hidden;
	flex-direction:column;
}
#_search_{
	display:none;
	visibility:hidden;
}
#_signin_{
	display:none;
	visibility:hidden;
}
.search.enter{
	width:70px;
	height:70px;
	overflow:visible;
}
.search.enter:hover{
	width:70px;
	height:70px;
	overflow:visible;
	cursor:pointer;
}
.search.align{
	display:flex;
	flex-direction:row;
	width:100%;
	border:1px solid blue;
	justify-content:center;
}
.events.page{
	visibility:hidden;
	display:none;
	justify-content:center;
	flex-direction:column;
	align-content:center;
}
.calendar.page{
	display:flex;
	flex-direction:row;
}
.timeline{
	width:20%;
	display:flex;
	flex-direction:column;
}
.calendar{
	width:100%;
	display:flex;
}
.make.events{
	display:flex;
	flex-direction:row;
	width:100%;
	height:100%;
	justify-content:center;
	align-content:center;
}
.create.events{
	display:flex;
	height:100%;
	width:40%;
	font-size:0.8rem;
	justify-content:center;
}
.events.format{
	display:flex;
	flex-direction:column;
	width:100%;
	justify-content:center;
	align-content:center;
}